data/*
!data/.gitkeep 
**/.ipynb_checkpoints/
models/
!models/classes.txt
!models/final.pth
!models/model.pkl
.idea
git rm -f db/*.sqlite3
echo '*.sqlite3' >> .gitignore
git add .gitignore
git commit -m "ignored sqlite databases"
